$fontSize: 12px;

.container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  margin: 10px 8px;
  padding: 6px 10px;

  .topbar {
    color: rgba(0, 0, 0, 0.6);
    font-size: $fontSize;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;

    .logo {
      width: 17px;
      vertical-align: text-top;
      margin-right: 5px;
      border-radius: 30%;
    }
  }

  .from {
    text-align: left;
    font-size: $fontSize;
    font-weight: bold;
  }

  .content {
    text-align: left;
    font-size: $fontSize;
  }
}
